VITE_SUPABASE_URL=https://qbncawfnfkgezafmsgze.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFibmNhd2ZuZmtnZXphZm1zZ3plIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1OTk4MjMsImV4cCI6MjA3MzE3NTgyM30.Hbw3mIDQb40ok_DA9gt0Oyw7IQW0LP9NTXDm0YxHEdM